<?xml version="1.0"?>
<config>
	<modules>
		<Segment_Analytics>
			<version>1.0.0</version>
		</Segment_Analytics>
	</modules>
	<global>
		<blocks>
			<analytics>
				<class>Segment_Analytics_Block</class>
			</analytics>
		</blocks>
		<helpers>
			<analytics>
				<class>Segment_Analytics_Helper</class>
			</analytics>
		</helpers>
		<models>
			<segment_analytics>
				<class>Segment_Analytics_Model</class>
			</segment_analytics>
		</models>
		<events>
          <controller_action_layout_load_before>
            <observers>
              <segment_additional>
                <type>model</type>
                <class>segment_analytics/observer</class>
                <method>addScripts</method>
              </segment_additional>
            </observers>
          </controller_action_layout_load_before>
          <customer_login>
            <observers>
              <segment_login>
                <type>model</type>
                <class>segment_analytics/observer</class>
                <method>loggedIn</method>
              </segment_login>
            </observers>
          </customer_login>
          <customer_logout>
            <observers>
              <segment_logout>
                <type>model</type>
                <class>segment_analytics/observer</class>
                <method>loggedOut</method>
              </segment_logout>
            </observers>
          </customer_logout>
          <checkout_cart_add_product_complete>
            <observers>
              <segment_addtocart>
                <type>model</type>
                <class>segment_analytics/observer</class>
                <method>addToCart</method>
              </segment_addtocart>
            </observers>
          </checkout_cart_add_product_complete>
          <sales_quote_remove_item>
            <observers>
              <segment_removefromcart>
                <type>model</type>
                <class>segment_analytics/observer</class>
                <method>removeFromCart</method>
              </segment_removefromcart>
            </observers>
          </sales_quote_remove_item>
          <catalogsearch_query_load_after>
            <observers>
              <segment_search>
                <type>model</type>
                <class>segment_analytics/observer</class>
                <method>loadedSearch</method>
              </segment_search>
            </observers>
          </catalogsearch_query_load_after>
          <customer_register_success>
            <observers>
              <segment_register_success>
                <type>singleton</type>
                <class>segment_analytics/observer</class>
                <method>customerRegistered</method>
              </segment_register_success>
            </observers>
          </customer_register_success>
        </events>
	</global>
	<frontend>
		<layout>
			<updates>
				<analytics>
					<file>analytics.xml</file>
				</analytics>
			</updates>
		</layout>
	</frontend>
	<default>
	    <segment_analytics>
	        <options>
	            <customer_traits>
created_at
email
name
is_active
updated_at
total_orders
total_spent
</customer_traits>
	        </options>
	    </segment_analytics>
	</default>
</config>