<?xml version="1.0"?>
<config>
    <modules>
        <Segment_Analytics>
            <version>1.0.19</version>
        </Segment_Analytics>
    </modules>
    <global>
        <blocks>
            <segment_analytics>
                <class>Segment_Analytics_Block</class>
            </segment_analytics>
        </blocks>
        <helpers>
            <analytics>
                <class>Segment_Analytics_Helper</class>
            </analytics>
        </helpers>
        <models>
            <segment_analytics>
                <class>Segment_Analytics_Model</class>
            </segment_analytics>
        </models>
        <events>
            <customer_login>
                <observers>
                    <segment_login>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>loggedIn</method>
                    </segment_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <segment_logout>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>loggedOut</method>
                    </segment_logout>
                </observers>
            </customer_logout>
            <checkout_cart_add_product_complete>
                <observers>
                    <segment_addtocart>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>addToCart</method>
                    </segment_addtocart>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_quote_remove_item>
                <observers>
                    <segment_removefromcart>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>removeFromCart</method>
                    </segment_removefromcart>
                </observers>
            </sales_quote_remove_item>
            <catalogsearch_query_load_after>
                <observers>
                    <segment_search>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>loadedSearch</method>
                    </segment_search>
                </observers>
            </catalogsearch_query_load_after>
            <customer_register_success>
                <observers>
                    <segment_register_success>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>customerRegistered</method>
                    </segment_register_success>
                </observers>
            </customer_register_success>
            <review_controller_product_init_after>
                <observers>
                    <segment_review_view>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>reviewView</method>
                    </segment_review_view>
                </observers>
            </review_controller_product_init_after>
            <catalog_controller_product_init_after>
                <observers>
                    <segment_product_view>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>productView</method>
                    </segment_product_view>
                </observers>
            </catalog_controller_product_init_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <segment_newsletter>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>newsletterSubscriber</method>
                    </segment_newsletter>
                </observers>
            </newsletter_subscriber_save_after>
            <wishlist_add_product>
                <observers>
                    <segment_analyticsmore_wishlist_add>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>wishlistAddProduct</method>
                    </segment_analyticsmore_wishlist_add>
                </observers>
            </wishlist_add_product>
            <sales_order_place_after>
                <observers>
                    <segment_analyticsmore_sales_order_place_after>
                        <type>singleton</type>
                        <class>segment_analytics/observer</class>
                        <method>orderPlaced</method>
                    </segment_analyticsmore_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <analytics>
                    <file>analytics.xml</file>
                </analytics>
            </updates>
        </layout>
    </frontend>
    <default>
        <segment_analytics>
            <options>
                <customer_traits>
created_at
email
name
is_active
updated_at
total_orders
total_spent
                </customer_traits>
            </options>
        </segment_analytics>
    </default>
</config>
